---
layout: base
title: Die deutsche Seite zum Elixir-Framework
description: Alles rund um Phoenix/Elixir auf deutsch - Tutorials · Artikel · News · Workshops.
permalink: /
---

<div class="container">
  <main role="main">
    <br>
    <br>
    <br>
    <h1 class="text-center mt-4">
      <img src="/assets/img/phoenixframework-de-logo.svg" alt="PhoenixFramework.de", class="mb-4">
      <br>
      News, Artikel und Kurse zum Phoenix-Framework
    </h1>

    <hr>

    <br>

    <h2>Die neusten Artikel</h2>

    <div class="row">
      <div class="col-md-6">
      {% for post in site.posts %}
        {% include _article.html %}
      {% endfor %}
      </div>
    </div>

    <br>

    <p>
      <a href="{{site.repository_url}}/edit/master/{{page.path}}" target="_blank">Diese Seite auf GitHub verbessern</a>
    </p>
  </main>
</div>



